Q1: What are data structures, and why are they important?

Ans: data structures are used to store and organise different data types for easy access.There are different types of data structure like “string”,”list”,”tuple” etc . These are all used to store different data types.These are important to access elements whenever required , change them . some type like tuple do not allow for changes in its elements 

Q2: Explain the difference between mutable and immutable data types with examples?

Ans: Mutable data types are the one that can be added , modified or removed are known as mutable data types. Examples of mutable data types are: list ,dictionary,set. Immutable data types does not allow changes of its elements , add and remove after they have been created.
Examples : “strings”,”tuples”.

Q3:What are the main differences between lists and tuples in Python?

Ans: The main difference in list and tuples is that list is mutable while tuples are not.
List elements are stored in square brackets while tuple elements are stored in round parenthesis.Tuples are used to store passwords , adhar no.s which cant be changed once added. While list store data that needs modification or change.

Q4:Describe how dictionaries store data ?

Ans: Dictionaries store data in the form of key and value. Every key is unique and has some value. Any value can be accessed by calling its respective key.  

Q5:Why might you use a set instead of a list in Python?

Ans: set is unordered collection of unique elements. Whenever we dont want duplicate values sets are used and  when need to perform set operations like union, intersection, or difference.

Q6:What is a string in Python, and how is it different from a list?

Ans: STRING : 1)it is sequence of characters that are stored with single or double quotes.
                         2)these are immutables
		 
         LIST:1) it is sequence of data types stored in square brackets.
    	      2) these are mutable

Q7:How do tuples ensure data integrity in Python?

Ans: Tuples do not allow change , add or removal of any element .This prevents any accidental change of data and hence maintains data integrity .

Q8:What is a hash table, and how does it relate to dictionaries in Python?
 
 Ans: hash table is data structure that stores dictionary keys by executing hash function which assigns the key value to a particular memory location .That’s how it quickly returns key value whenever called.

Q9:Can lists contain different data types in Python?

Ans: yes,list can contain different data types .It can contain all types of data like string,boolean,integer etc.

Q10:Explain why strings are immutable in Python?

Ans: In Python, strings are immutable, meaning they cannot be changed once created. This ensures safety when sharing strings, allows them to be used as reliable dictionary keys through consistent hashing, and improves performance. It also avoids unexpected side effects, making the code easier to manage and debug.

Q11: What advantages do dictionaries offer over lists for certain tasks?

Ans:1)Keys in a dictionary are unique. This prevents accidental duplicate entries which are common in lists unless explicitly checked.
       2)You can dynamically add/update entries by key without worrying about position/index.

Q12: Describe a scenario where using a tuple would be preferable over a list.

Ans: using a tuple would be better where you want your data to be secure because tuple is immutable. For example : you have store passwords so you dont want that to be modified .

Q13: How do sets handle duplicate values in Python

Ans:Sets automatically remove duplicates — they only keep unique values.

Q14:How does the “in” keyword work differently for lists and dictionaries?

Ans:It checks if something exists inside a collection — like a list, dictionary, set, or string.But it works a bit differently for lists and dictionaries:
In list it checks whether a value is present in list or not 
But in dictionaries it checks whether a key is present or not ___ not the value!

Q15: Can you modify the elements of a tuple? Explain why or why not?

Ans: We cannot modify elements in tuples because tuples are immutable. It is so because tuples are meant to be more safe and faster because it stores less memory space.

Q16: What is a nested dictionary, and give an example of its use case?

Ans:A nested dictionary is a dictionary inside another dictionary.It allows you to store more complex or structured data, like a table or records with sub-records.
1)Student Database
 Store details like name, age, and grades for each student using their ID as the key.


2)Employee Records
 Manage employee data such as name, department, and salary by employee ID.


3)Library Management System
 Keep track of books with details like title, author, and availability status by book ID.

Q17: Describe the time complexity of accessing elements in a dictionary

Ans:Time Complexity of Dictionary Operations in Python
Accessing a value by key → O(1) (Average Case)


Inserting or updating a key-value pair → O(1) (Average Case)


Deleting a key → O(1) (Average Case)


Worst Case (rare, due to hash collisions) → O(n)


 Python dictionaries are fast because they use hash tables internally.

Q18: In what situations are lists preferred over dictionaries

Ans:Simple Collections
 When you're storing a simple group of values (e.g., numbers, names) without needing keys.


Index-Based Access
 When you need to access items by position (e.g., list[0], list[1]).


Duplicates Are Allowed
 When you want to store repeated values (dictionaries don't allow duplicate keys).


Iteration in Order
 When you want to loop through items in the order they were added.


Sorting is Needed
 Lists can be easily sorted using sort() or sorted() functions.


Memory Efficiency
 Lists use less memory than dictionaries for small or simple datasets.

Q19:Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans:Before Python 3.7:
Dictionaries were considered unordered.


The order of elements was not guaranteed.


They used hash tables focused on fast key access, not order.


Iterating over a dictionary could return keys in any order.


From Python 3.7 onwards:
Dictionaries preserve insertion order.


Items appear in the order they were added.


This makes iteration predictable and ordered.


Data Retrieval:
Accessing a value by key (e.g., d['name']) is O(1) (very fast).


Order does not affect retrieval speed.


Iterating over keys/values will now follow the insertion order (Python 3.7+).


Q20:Explain the difference between a list and a dictionary in terms of data retrieval.

Ans:In terms of data retrieval list is slower than dictionary this is so because dictionary uses hash table data structure to store a key in memory hence it returns the value instant when called
FOR LIST:Time Complexity: O(1) for direct index access, O(n) for searching a value.

## QUESTIONS

1)Write a code to create a string with your name and print it

2)Write a code to find the length of the string "Hello World

3)Write a code to slice the first 3 characters from the string "Python Programming"

4)Write a code to convert the string "hello" to uppercase

5)Write a code to replace the word "apple" with "orange" in the string "I like apple"

6)Write a code to create a list with numbers 1 to 5 and print it

7)Write a code to append the number 10 to the list [1, 2, 3, 4]

8)Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

9)Write a code to access the second element in the list ['a', 'b', 'c', 'd']

10)Write a code to reverse the list [10, 20, 30, 40, 50].

In [21]:
##1)
A="devansh gupta"
print(A)

devansh gupta

In [5]:
##2)
a="Hello World"
print(len(a))

11

In [6]:
##3)
b="Python Programming"
b[:3]

'Pyt'

In [7]:
##4)
a="hello"
a.upper()

'HELLO'

In [9]:
##5)
a="I like apple"
a.replace("apple","orange")

'I like orange'

In [16]:
##6)
a=[]
for i in range(1,6):
    a.append(i)
print(a)

[1, 2, 3, 4, 5]

In [29]:
##7)
a=[1, 2, 3, 4]

a.append(10)
a

[1, 2, 3, 4, 10]

In [30]:
##8)
a=[1, 2, 3, 4, 5]
a.remove(3)
a

[1, 2, 4, 5]

In [31]:
##9)
a=['a', 'b', 'c', 'd']
a[1]

'b'

In [32]:
##10)
a=[10, 20, 30, 40, 50]
b=[]
for i in range(len(a)-1,-1,-1):
    b.append(a[i])
print(b)

[50, 40, 30, 20, 10]

In [33]:
##10) other way
a=[10, 20, 30, 40, 50]
a[::-1]

[50, 40, 30, 20, 10]

### QUESTIONS

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [36]:
##11)
a=(100,200,300)
print(a)

(100, 200, 300)

In [39]:
##12)
a=('red', 'green', 'blue', 'yellow')
a[1:]

('green', 'blue', 'yellow')

In [41]:
##13)
a=(10, 20, 5, 15)
b=min(a)
b

5

In [42]:
##14)
a=('dog', 'cat', 'rabbit')
a.index("cat")

1

In [43]:
##15)
a=("mango","orange","pineapple")
if "kiwi" in a :
    print("kiwi is in a ")
else:
    print("kiwi is not in a ")

kiwi is not in a

In [45]:
##16)
a={'a', 'b', 'c'}
print(a)

{'b', 'a', 'c'}

In [46]:
##17)
a={1, 2, 3, 4, 5}
a.clear()
a

set()

In [47]:
##18)
a={1, 2, 3, 4}
a.remove(4)
a

{1, 2, 3}

In [50]:
##19)
a={1, 2, 3}
b= {3, 4, 5}
a|b

{1, 2, 3, 4, 5}

In [51]:
##20)
a={1, 2, 3}
b={2, 3, 4}
a&b

{2, 3}

## QUESTIONS ##

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

28. Write a code to create a list with strings and print the element at the third index.

29. Write a code to combine two dictionaries into one and print the result.

30. Write a code to convert a list of strings into a set.

In [3]:
##21
a={"name":"devansh","age":21,"city":"morinda"}
print(a)

{'name': 'devansh', 'age': 21, 'city': 'morinda'}

In [4]:
##22
a= {'name': 'John', 'age': 25}
a["country"]="USA"
a

{'name': 'John', 'age': 25, 'country': 'USA'}

In [5]:
##23
a = {'name': 'Alice', 'age': 30}
a.get("name")

'Alice'

In [8]:
##24
a={'name': 'Bob', 'age': 22, 'city': 'New York'}
a.pop("age")
a

{'name': 'Bob', 'city': 'New York'}

In [10]:
##25
a={'name': 'Alice', 'city': 'Paris'}
"city" in a

True

In [12]:
##26 
## list
my_list=[]
for i in range(1,6):
    my_list.append(i)

## for tuple
my_tuple=tuple(my_list)

## for dictionary
my_dict={}
for i in range(1,6):
    my_dict[i]=i**2

print("list: ",my_list)
print("tuple: ",my_tuple)
print("dictionary: ",my_dict)

list:  [1, 2, 3, 4, 5]
tuple:  (1, 2, 3, 4, 5)
dictionary:  {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [14]:
##27
a=[6,1,10,2,46]
a.sort()
a

[1, 2, 6, 10, 46]

In [16]:
##28
a=["apple","mango","banana","cherry","grapes"]
a[3]="pineapple"
a

['apple', 'mango', 'banana', 'pineapple', 'grapes']

In [18]:
##29
a={"name":"devansh","age":21,"city":"morinda"}
b={"subject":"metta","occupation":"student"}
a.update(b)
a

{'name': 'devansh',
 'age': 21,
 'city': 'morinda',
 'subject': 'metta',
 'occupation': 'student'}

In [20]:
##30
my_list=["devansh","gupta"]
my_set=set(my_list)
my_set

{'devansh', 'gupta'}